<a href="https://colab.research.google.com/github/enildacoelho/agro/blob/main/notebooks/XLSTOJSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Carrega as bibliotecas necessárias
import pandas as pd
import json

In [ ]:
# Carrega um arquivo (xlsx)
ARQUIVO_DADOS='drive/MyDrive/dados_fao.xlsx'
dados_fao=pd.read_excel(ARQUIVO_DADOS )

In [ ]:
# Exibe uma amostra do conjunto de dados
dados_fao.head()

   cultivoid       cultura  ... kcfim  alturamax (metros)
0          1        Batata  ...  0.75                 0.6
1          2    Milho Grão  ...  0.47                 2.0
2          3         Arroz  ...  0.06                 1.0
3          4  Feijão comum  ...  0.35                 0.4
4          5         Sorgo  ...  0.55                 2.0

[5 rows x 14 columns]

In [ ]:
# Exporta para um arquivo JSON

dados_fao.to_json('fao_kc.json')